@media (width <= 600px) {
  .sidebar-menu__block-list {
    width: 100%;
    max-width: 500px;
  }

  .sidebar-menu__list {
    font-size: inherit;
  }

  .sidebar-menu__content::after {
    left: 410px;
  }

  .content__about-list {
    display: flex;
    flex-direction: column;
  }

  .about__card-item {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .about__card-paragraph {
    margin-left: 50px;
  }

  .data__actions__btn {
    padding: 15px 5px;
  }
}

@media screen and (max-width: 568px) {
  .popup__content {
    margin: 0;
    width: 100%;
    max-width: calc(100% - 30px);
    margin-top: 40px;
    padding: 30px 20px;
  }

  .popup__title {
    line-height: 30px;
  }

  .popup__button {
    font-size: 14px;
    line-height: 17px;
  }

  .popup__image {
    padding: 20px;
    width: 60%;
  }

  .content__block__list {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: center;
  }

  .content__block__list-item {
    width: 96%;
  }

  .content__block__list-link {
    max-width: none;
  }

  .data__actions {
    flex-direction: column;
  }

  .content-frame__conteiner {
    flex-direction: column;
  }


}

@media (width <= 440px) {
  .panel-auto__title {
    margin-block-end: 80px;
  }

  .offers__switches {
    flex-direction: column;
  }

  .cart__item-value {
    padding-inline-end: 10px;
    font-size: 16px;
  }

  .sidebar-menu__content::after {
    left: 330px;
  }

  .content__order {
    padding-inline: 1px;
  }

  .content-frame {
    border-radius: 12px;
  }
}
