@media (width <= 600px) {
  .sidebar-menu__block-list {
    width: 100%;
    max-width: 500px;
  }

  .sidebar-menu__list {
    font-size: inherit;
  }

  .content__about-list {
    display: flex;
    flex-direction: column;
  }

  .about__card-item {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .about__card-paragraph {
    margin-left: 50px;
  }
}

@media (width <= 440px) {
  .offers__switches {
    flex-direction: column;
  }
}
