@media screen and (width <= 1215px) {
  .header__menu-section {
    display: none;
    flex-shrink: 1;
  }

  .sidebar-menu {
    position: static;
  }

  .sidebar-menu__block-static {
    display: none;
  }

  .visible__none {
    display: flex;
  }

  .content__sidebar {
    display: none;
  }
}

@media screen and (width < 786px) {
  .type__hiding {
    display: none;
  }

  .content__block {
    display: flex;
    flex-direction: column;
    padding-inline-start: 5vw;
  }

  .content__block__list {
    flex-direction: row;
  }
}

@media (width <= 765px) {
  .preview__list-cards {
    grid-template-columns: repeat(auto-fit, minmax(150px, 100%));
  }

  .footer__content {
    flex-direction: column;
  }

  .footer__contact-list {
    align-self: start;
  }

  .banner-view-link {
    background-size: 100%;
  }
}
