.content {
}

.sidebar {
  background-color: var(--theme-color-light);
  box-shadow: inset -2px 0 0 0 rgb(0 0 0 / 0.1);
}

.content__block {
  margin-block-start: 3vw;
  padding-inline-end: 5vw;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: var(--theme-color-light);
}

.content__block__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2vw;
  position: relative;
}

.content__block__list-item {
  position: sticky;
  top: 5vw;
}

.t2 {
  top: calc(5vw + 1rem + 42px);
}

.t3 {
  top: calc(5vw + 1rem * 2 + 42px * 2);
}

.t4 {
  top: calc(5vw + 1rem * 3 + 42px * 3);
}

.t5 {
  top: calc(5vw + 1rem * 4 + 42px * 4);
}

.content__block__list-link {
  max-width: 250px;
  padding: 10px;
  display: block;
  background-color: var(--theme-color-light);
  border: 2px solid var(--accent-color);
  border-radius: 15px;
  text-decoration: none;
  text-align: center;
  font-size: clamp(0.875rem, 0.787rem + 0.1817vw, 1.055rem);
  font-weight: 600;
  color: #444;
}

.list-link_color {
  color: white;
  background: var(--accent-color);
  border: 2px solid var(--theme-color);
  font-size: clamp(0.975rem, 0.787rem + 0.1817vw, 1.155rem);
  font-weight: 500;
}

.list-link_color:hover {
  transition: background 0.2s ease-in, border 0.3s linear;
  border: 2px solid var(--theme-color-light);
  background: var(--theme-color);
}

.content__block__list-link:hover {
  scale: 1.05;
}

.conteiner-text {
  padding-block: 6vw;
  text-align: center;
}

.conteiner-text > :not(:last-child) {
  margin-bottom: 8rem;
}

.conteiner-text > :has(h2) h2:not(:first-child) {
  font-size: clamp(1.125rem, 0.9489rem + 0.5634vw, 1.625rem);
  font-weight: 600;
  margin: 40px 0;
}

.conteiner-text > :has(h2) :first-child {
  margin-bottom: 40px;
}

.conteiner-text > :has(p) p {
  font-size: clamp(0.9375rem, 0.8275rem + 0.4521vw, 1.4rem);
  font-weight: 400;
}

.type__frame {
  border: 1px solid rgb(0 0 0 / 0.1);
}

.conteiner-text__account {
  padding: 3vw;
  text-align: left;
}

.conteiner-text__about {
  padding-inline: 6vw;
}

.content__block__contact {
  width: 100%;
  grid-template-columns: 2fr 3fr;
}

.content__block__text {
  padding: 3vw 5vw;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.content__block__text-address-block {
  white-space: pre-line;
  margin-left: 1rem;
}

.content__block__text-contacts {
}

.content__block__text-contacts-title {
  text-transform: uppercase;
  letter-spacing: 0.6px;
  margin-block-end: 6px;
  font-weight: 600;
}

.content__block__contact__map {
  padding-block: 3vw;
}

.panel-auto__background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: none;
  visibility: hidden;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0/ 0.4);
  backdrop-filter: blur(2px);
}

.panel-auto {
  min-inline-size: 375px;
  max-inline-size: 650px;
  width: 60vw;
  padding: 2vw 4vw;
  background-color: var(--theme-color-light);
  border-radius: 20px;
  position: relative;
}

.panel-auto-error {
  font-size: 14px;
  color: #ce1111;
  position: absolute;
  top: 18%;
  left: 4vw;
}

.panel-auto-exit {
  padding: 5px;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 1.8vw;
  right: 3vw;
  border: none;
  background: url(/img/cancel-close-cross.svg) center center;
  background-size: cover;
}

.panel-auto-exit:hover {
  transform: scale(1.1);
}

.panel-auto__title {
  font-weight: 500;
  margin-block-end: 40px;
}

.panel-auto__name {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block-end: 30px;
  position: relative;
}

.panel-auto__login {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block-end: 30px;
  position: relative;
}

.panel-auto__login .incorrect-symbol {
  font-size: 20px;
}

.panel-auto__btn-uploading {
  max-width: 450px;
  margin-block-end: 15px;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.1s ease-in;
}

.panel-auto__btn-uploading:active {
  background-color: var(--accent-color);
}

.incorrect-symbol {
  color: #cf1b1b;
  position: absolute;
  left: 70px;
  top: 4px;
}

.conteiner-text__account .incorrect-symbol {
  left: 200px;
}

.type__hide {
  display: none;
}

.type__visible {
  display: block;
}

.type__visible__panel-auto {
  display: flex;
}

.panel-auto__field {
  width: 100%;
  height: 3.5em;
  padding-inline: 20px;
  font-size: var(--font-size);
  border-radius: 5px;
  border: 1px solid rgb(0 0 0 / 0.1);
  background-color: rgb(0 0 0 / 0.035);
}

.panel-auto__password {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block-end: 50px;
  position: relative;
}

.panel-auto__btns {
  display: flex;
  justify-content: space-between;
}

.panel-auto__btn {
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1.8px;

  transition: all 0.8s ease 0s;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -ms-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
}

.panel-auto__btn-color {
  background-color: var(--theme-color);
  color: #fff;
}

.panel-auto__btn-light {
  color: var(--theme-color);
  border: 1px solid var(--theme-color);
}

.panel-auto__btn:hover {
  transform: scale(1.06);
}

.panel-auto__btn-color:hover {
  background-color: #13265fd8;
}

.panel-auto__btn-light:hover {
  color: #fff;
  background-color: var(--theme-color);
}

.panel-auto__btn__exit {
  background-color: #971515;
  font-weight: 500;
  border: 5px solid #c11c1c;
  letter-spacing: 4px;
}

.panel-auto__btn__exit:hover {
  background-color: #cd3f3f;
}

.content__register {
  width: 100%;
  display: flex;
  justify-content: center;
}

.conteiner-text__register {
  padding: 5vw;
  min-width: 340px;
  max-width: 730px;
  width: 55vw;
  text-align: left;
  box-shadow: 0 0 18px 0 rgb(0 0 0 / 0.12);
}

.form-reg {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block-end: 30px;
  position: relative;
}

.form-reg .incorrect-symbol {
  left: 185px;
  top: 0;
}

.content__catalog {
  box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.1);
  padding: 60px 40px;
  width: 100%;
  background-color: var(--theme-color-light);
}

.content__catalog-button {
  padding: 12px 53px;
  background-color: #0c1d53;
  border: none;
  color: #fff;
  font-weight: 500;
  margin-block-end: 10px;
  border-radius: 10px;
}

.content__catalog-button:hover {
  cursor: pointer;
  transition: 500ms;
  background-color: var(--accent-color);
}

.content__catalog-content {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    clamp(285px, calc(25% - 20px), 315px)
  );
  justify-content: center;
  grid-auto-flow: row;
  gap: 2.1em;
}

.content__catalog-content-link {
  height: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 0.6em;
  text-decoration: none;
}

.content__catalog-content__image {
  width: 30%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.content__catalog-content__title {
  font-size: calc(var(--font-size) - 0.1em);
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}

.content__catalog-popular-title {
  padding-block: 90px 20px;
  margin-bottom: 50px;
  font-size: clamp(1.375rem, 1.6283rem + 0.5868vw, 2rem);
  font-weight: 400;
  line-height: 1.1;
}

.content__catalog-popular {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    clamp(250px, calc(25% - 20px), 285px)
  );
  justify-content: center;
  grid-auto-flow: row;
  gap: 1.6em;
}

.content__catalog-popular__card {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.4);
  text-align: center;
  border-radius: 12px;
}

.content__catalog-popular__card:hover {
  transition: scale 0.2s linear;
  scale: 1.03;
}

.content__catalog__card-link {
  height: 100%;
  padding: 25px;
  padding-block-end: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.6em;
  text-decoration: none;
}

.content__catalog__card-image {
  width: 188px;
  height: 188px;
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: contain;
}

.content__catalog__card__conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6em;
}

.content__catalog__card-title {
  font-size: calc(var(--font-size) - 0.1em);
  font-style: normal;
  font-weight: 300;
  line-height: 1.4;
}

.content__catalog__card-provider {
  font-size: var(--font-size);
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.8px;
}

.content__catalog__card__price-cover {
  display: flex;
  font-size: calc(var(--font-size) - 0.05em);
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 1.54px;
  text-transform: uppercase;
}

.content__catalog__card-value {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}

.content__catalog__card-unit {
  font-size: calc(var(--font-size) - 0.05em);
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}

.content__catalog__card-button {
  background-color: var(--theme-color);
  color: var(--theme-color-light);
  padding: 10px 45px;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  /* text-transform: uppercase; */
  letter-spacing: 1.8px;
  transition: background 0.5s ease 0s, color 0.3s ease 0s, scale 0.3s ease 0s;
}

.content__catalog__card-button:hover {
  background-color: var(--theme-color-light);
  color: var(--theme-color);
  scale: 1.05;
}

.popup {
  position: fixed;
  display: none;
  inset: 0;
  z-index: 10;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0 / 0.2);
  backdrop-filter: blur(2px);
}

.popup_card-preview {
  background-color: rgba(0, 0, 0, .4);
}

.popup_is-animated {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transition: visibility 0s 0.6s, opacity 0.6s;
}

.popup_is-opened {
  display: flex !important;
  visibility: visible !important;
  z-index: 4;
  opacity: 1 !important;
  pointer-events: all !important;
  transition: visibility 0s, opacity 0.6s;
}

.popup__close {
  width: 35px;
  height: 35px;
  background: transparent url('../img/close.svg') center no-repeat;
  background-size: 35px 35px;
  border: none;
  position: absolute;
  top: -42px;
  right: -42px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: visibility 0s, opacity 0.3s;
  padding: 0;
  margin: 0;
}

.popup__close:hover {
  opacity: 0.6;
}

.popup__content {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  grid-template-rows: 0.2fr 1fr;
  grid-template-areas:
    "provider title"
    "image content";
  margin: 20px;
  max-width: 900px;
  min-height: 500px;
  width: 100%;
  background-color: #fff;
  border-radius: 25px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px;
}

.popup__title {
  font-size: clamp(1.775rem, 1.6283rem + 0.6868vw, 2rem);
  font-weight: 500;
  line-height: 1.1;
  padding: 10px;
  grid-area: title;
}

.popup__image {
  height: auto;
  width: auto;
  max-height: 400px;
  max-width: 100%;
  background: transparent;
  object-fit: scale-down;
  aspect-ratio: 1 / 1;
  grid-area: image;
  justify-self: center;
  padding-inline-end: 65px;
  padding-block-end: 60px;
}

.popup__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: content;
}

.popup__description {
  padding: 15px;
}

.popup__provider {
  font-size: clamp(1.175rem, 1.6283rem + 0.5868vw, 1.35rem);
  font-weight: 600;
  line-height: 1.1;
  padding: 10px;
  grid-area: provider;
}

.popup__form {
  margin-top: 27px;
  position: relative;
}

.popup__price {
  display: flex;
  padding: 15px 20px;
  font-size: clamp(1.375rem, 1.6283rem + 0.1868vw, 1.5rem);
  font-weight: 600;
  line-height: 1.1;
}

.popup__value {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.popup__currency {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding-inline-start: 5px;
}

.popup__container_form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.popup__input {
  width: 100%;
  height: 47px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  line-height: 18px;
  box-sizing: border-box;
  padding: 10px 45px 0;
  background: rgba(0, 0, 0, .032);
  font-size: 18px;
}

.popup__input_type_count {

}

.popup__button {
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 22px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--theme-color);
  border-radius: 2px;
  border: none;
  transition: visibility 0s, background 0.3s;
}

.popup__button:hover {
  transition: background 0.2s linear;
  background: var(--accent-color);
  cursor: pointer;
}

.popup__add-card .popup__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 750px;
  gap: 25px;
}

.popup__button_is-invalid {
  background-color: var(--theme-color-light) !important;
  border: 1px solid var(--theme-color) !important;
  color: var(--theme-color) !important;
  cursor: default;
}

.popup__button_is-invalid:hover {
  background-color: inherit;
  color: inherit;
}

.content__cart {
  display: grid;
  padding: 2vw 5vw;
  width: 100%;
  grid-template-columns: 2.2fr 1fr;
  grid-template-rows: min-content auto;
  justify-items: center;
  gap: 2.5vw;
  padding-block-end: 200px;
  margin-block-end: 50px;
}

.content__cart_empty {
  font-size: clamp(1.175rem, 1.6283rem + 0.5868vw, 1.6rem);
  font-weight: 400;
  line-height: 1.1;
  opacity: 0.7;
}

.content__cart-link_empty {
  padding: 5px;
  text-decoration: none;
  color: var(--accent-color);
  font-size: var(--font-size);
  text-align: center;
}

.cart__title {
  font-size: clamp(1.875rem, 1.6283rem + 0.9868vw, 2.8125rem);
  font-weight: 300;
  line-height: 1.1;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: flex-start;
}

.cart__list {
  width: 100%;
  max-width: 1100px;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}

.cart__list-item {
  padding: 20px 10px;
  position: relative;
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr;
  background-color: var(--theme-color-light);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.4);
  border-radius: 25px;
}

.cart__item-image {
  width: auto;
  height: auto;
  max-width: 20vw;
  max-height: 120px;
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: contain;
  aspect-ratio: 1 / 1;
}

.cart__item-cover_middle {
  padding: 10px;
  padding-block-start: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.cart__item-title {
  font-size: calc(var(--font-size));
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
}

.cart__item-cover_middle-down {
  display: flex;
  gap: 12px;
  align-items: end;
}

.cart__item-input {
  width: 85px;
  height: 35px;
  padding: 15px;
}

.cart__item-price {
  position: relative;
  font-size: clamp(0.96rem, 0.6447rem + 0.6316vw, 1.15rem);
  font-weight: 600;
  line-height: 1.1;
}

.cart__item-price::after {
  content: '₽';
  position: relative;
  bottom: 0;
  left: 4px;
  font-size: inherit;
  font-weight: inherit;
}

.cart__item-price::before{
  content: 'цена за ед. товара';
  position: absolute;
  width: 100px;
  left: 120%;
  font-size: clamp(0.4rem, 0.0994rem + 1.2821vw, 0.9rem);
  opacity: 0.55;
  font-weight: 400;
}

.cart__item-value {
  justify-self: center;
  position: relative;
  font-size: clamp(1.15rem, 1.6283rem + 0.1868vw, 1.3rem);
  font-weight: 500;
  line-height: 1.1;
}

.cart__item-value::after {
  content: '₽';
  position: relative;
  top: 0;
  left: 5px;
  font-size: inherit;
  font-weight: inherit;
}

.cart__close {
  width: 25px;
  height: 25px;
  background: transparent url(../img/close-gray.svg) center no-repeat;
  background-size: 25px 25px;
  border: none;
  position: absolute;
  top: 12px;
  right: 15px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: visibility 0s, opacity 0.25s;
  padding: 0;
  margin: 0;
}

.cart__close:hover {
  opacity: 0.6;
}

.card-order {
  max-width: 500px;
  max-height: 390px;
  width: 100%;
  padding: 1.5vw;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--theme-color-light);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.4);
  border-radius: 25px;
}

.card-order__title {
  padding-block-end: 20px;
  font-size: clamp(1.375rem, 1.6283rem + 0.5868vw, 1.75rem);
  font-weight: 400;
  line-height: 1.1;
}

.card-order__type-user {
  margin-block-end: 30px;
}

.card-order__type-user-title {
  margin-block-end: 8px;
  font-size: clamp(1.05rem, 1.6283rem + 0.5868vw, 1.2rem);
  font-weight: 400;
  line-height: 1.1;
}

.card-order__type-user-fieldset {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  padding-block-start: 10px;
  border: none;
}

.card-order__type-user-select {
  font-size: 0.95rem;
  font-weight: 600;
  line-height: inherit;
}

.card-order__type-user-select p {
  margin-block-start: 15px;
  opacity: 0.5;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.card-order__type-user-label {
  position: relative;
  padding-inline-start: 28px;
}

.card-order__type-user-label::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -2px;
  width: 21px;
  height: 21px;
  background: var(--theme-color-light);
  transition: background 0.2s linear, border 0.2s linear;
  border: 1px solid #d3d3d3;
  border-radius: 100%;
}

.card-order__type-user-label::after {
  content: "";
  display: none;
  position: absolute;
  left: 6px;
  top: 4px;
  width: 9px;
  height: 9px;
  background: var(--theme-color-light);
  border: 1px solid #e9e9e9;
  border-radius: 100%;
  z-index: 2;
}

.card-order__type-user-input[type="radio"]:checked + .card-order__type-user-label::before {
  background: var(--theme-color);
}

.card-order__type-user-input[type="radio"]:checked + .card-order__type-user-label::after {
  display: block;;
}

.card-order__type-user-input[type="radio"]:hover + .card-order__type-user-label::before {
  background: var(--accent-color);
  border: 2px solid #f3f3f3;
}

.card-order__summ {

}

.card-order__summ-title {

}

.card-order__summ-cover {
  display: flex;
  justify-content: space-between;
  padding: 8px 15px 25px 5px;
  font-size: 1.37rem;
  line-height: 1.1;
}

.card-order__summ-postscript {
  font-weight: 500;
  font-size: 1.15rem;
}

.card-order__summ-value {
  font-weight: 600;
  position: relative;
}

.card-order__summ-value::after {
  content: '₽';
  position: relative;
  top: 0;
  left: 5px;
  font-size: inherit;
  font-weight: inherit;
}

.card-order__button {
  width: 100%;
  height: 60px;
  font-size: 18px;
  line-height: 22px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--theme-color);
  border-radius: 10px;
  border: 3px solid var(--theme-color);
  /* border: none; */
}

.card-order__button:hover {
  transition:  background 0.25s ease-in, border 0.3s ease-in;
  background-color: var(--accent-color);
  border: 2px solid var(--theme-color-light);
}

.history__list-item {
  padding: 15px 10px;
  position: relative;
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr;
  background-color: var(--theme-color-light);
  box-shadow: 0 8px 9px -3px rgb(0 0 0 / 0.45);
  border-radius: 5px;
}

.history__item-image {
  width: auto;
  height: auto;
  max-width: 20vw;
  max-height: 120px;
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: contain;
  aspect-ratio: 1 / 1;
  margin-block-end: 0 !important;
}

.history__item-title {
  font-size: calc(var(--font-size));
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
  margin-block-end: 0 !important;
}

.popup__menu {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgb(0 0 0 / 0.06);
  backdrop-filter: blur(0.6px);
}

.popup__subscribe  {
  /* position: fixed;
  display: none;
  inset: 0;
  z-index: 10;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0 / 0.2);
  backdrop-filter: blur(2px); */
}

.popup__subscribe .popup__content{
  display: flex;
  flex-direction: column;
  min-inline-size: 375px;
  max-inline-size: 650px;
  width: 62vw;
  padding: 2vw 4vw;
  background-color: var(--theme-color-light);
  border-radius: 20px;
  position: relative;
  justify-content: space-around;
}

.popup__subscribe  .popup__title{

}

.popup__subscribe  .popup__container{
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}

.popup__subscribe  .popup__input_type_mail{
  margin-block: 10px 30px;
}

.popup__subscribe  .popup__input_type_licenses visually-hidden{

}

.popup__subscribe input[type="checkbox"] + label{
  position: relative;
  margin-block-end: 24px;
  padding-inline-start: 40px;
}

input[type="checkbox"] + label::after, label::before {
  content: '';
}

input[type="checkbox"] + label {
  cursor: pointer;
}

.popup__subscribe input[type="checkbox"]:not(:checked) + label::before{
  background: #e0e0e0;
}

.popup__subscribe input[type="checkbox"]:checked + label::before{
  background: var(--theme-color);
}

.popup__subscribe input[type="checkbox"] + label::before{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 33px;
  border-radius: 10px;
}

.popup__subscribe input[type="checkbox"] + label::after{
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  border-radius: 100%;
  background: #fff;
  width: 14px;
  height: 14px;
  border: none;
  margin: 2px;
  left: 1px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  transition: left 0.1s ease-in;
  z-index: 11;
}

.popup__subscribe input[type="checkbox"]:checked + label::after {
  left: 15px;
}

.popup__subscribe  .popup__licenses-link {
  color: var(--accent-color);
}

.popup__subscribe  .popup__input_type_licenses{
  bottom: 40px;
}

.popup__subscribe .popup__button{
  color: var(--theme-color);
  border: 1px solid var(--theme-color);
  background-color: rgba(0, 0, 0, .01);
  padding-block: 30px;
  border-radius: 15px;
  transition: background 0.25s ease-in;
}

.popup__subscribe .popup__button:hover {
  color: #fff;
  background-color: var(--theme-color);
}

.data__title-list {
  display: grid;
  grid-template-columns: 0.2fr 2fr 0.6fr 0.5fr 0.7fr 0.2fr;
  justify-items: center;
  padding-inline: 30px 25px;
}

.data__title-list__item {
  padding-inline: 5px;
}

.data__list {
  max-height: 700px;
  border: 1px solid rgb(0, 0, 0, 0.2);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-block-end: 20px;
}

.data__list-item {
  display: grid;
  grid-template-columns: 0.2fr 2fr 0.6fr 0.5fr 0.7fr 0.2fr;
  justify-items: start;
  align-items: center;
  gap: 5px;
  padding: 7px;
  margin: 0 4px;
  border-radius: 8px;
  box-shadow: 0 10px 15px 0px rgb(0 0 0 / 0.4);
  font-size: calc(var(--font-size));
  font-weight: 600;
  line-height: 1.1;
}

.data__list-item-image {
  width: 70px;
  object-fit: contain;
  aspect-ratio: 1 / 1;
}

.data__list-item-title {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.data__list-item-price {
  position: relative;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.data__list-item-price::after {
  content: '₽';
  position: relative;
  left: 2px;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.data__list-item-unit {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.data__list-item-article {
  /* font-size: inherit; */
  font-weight: 400;
  line-height: inherit;
}

.data__list-item-count {

}

.data__list-item-summ {

}

.data__list-item-check {
  padding: 0;
  width: 22px;
  height: 22px;
}

.data__actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.content__order {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2vw 5vw;
  padding-block-start: 30px;
  gap: 9px;
}

.content__order .card-order {
  max-width: none;
}

.content__order .card-order__button {
  padding-block: 32px;
  text-transform: uppercase;
  max-width: 500px;
  align-self: center;
}

.content-frame {
  min-height: 200px;
  width: 100%;
  padding: 1.5vw;
  display: flex;
  flex-direction: column;
  background-color: var(--theme-color-light);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.4);
  border-radius: 25px;
}

.content-frame__conteiner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.content__container-image-title {
  display: flex;
  gap: 8px;
}

.content__image {
  width: 35px;
  height: 35px;
  object-fit: contain;
  background: transparent center;
}

.content__map {
  min-height: 400px;
  padding: 1vw;
  background-color: var(--theme-color-light);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.4);
}

.content-frame__conteiner .content-frame {
  padding: 2.5vw;
}

.content__form {
  padding: 2.2vw;
  margin-block-end: 30px;
}

#dataUser .incorrect-symbol {
  left: auto;
  right: 14%;
}

.conteiner-text__uploading {
  display: flex;
  flex-direction: column;
}

form#history .data__title-list {
  grid-template-columns: 0.3fr 2fr 0.6fr 0.5fr 0.7fr 0.2fr 0.2fr;
}

form#history .data__list-item {
  grid-template-columns: 0.3fr 1.7fr 0.6fr 0.5fr 0.7fr 0.2fr 0.2fr;
}

form#history .data__list-item-count {
  position: relative;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

form#history .data__list-item-summ {
  position: relative;
  font-size: calc(var(--font-size) + 3px);
  font-weight: inherit;
  line-height: inherit;
  justify-self: end;
}

form#history .data__list-item-summ::after {
  content: '₽';
  position: relative;
  left: 2px;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
