.content {
}

.sidebar {
  background-color: var(--theme-color-light);
  box-shadow: inset -2px 0 0 0 rgb(0 0 0 / 0.1);
}

.content__block {
  margin-block-start: 3vw;
  padding-inline-end: 5vw;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: var(--theme-color-light);
}

.content__block__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2vw;
  position: relative;
}

.content__block__list-item {
  position: sticky;
  top: 5vw;
}

.t2 {
  top: calc(5vw + 1rem + 42px);
}

.t3 {
  top: calc(5vw + 1rem * 2 + 42px * 2);
}

.content__block__list-link {
  max-width: 250px;
  padding: 10px;
  display: block;
  background-color: var(--theme-color-light);
  border: 2px solid var(--accent-color);
  border-radius: 15px;
  text-decoration: none;
  text-align: center;
  font-size: clamp(0.875rem, 0.787rem + 0.1817vw, 1.055rem);
  font-weight: 600;
  color: #444;
}

.content__block__list-link:hover {
  scale: 1.05;
}

.conteiner-text {
  padding-block: 6vw;
  text-align: center;
}

.conteiner-text > :not(:last-child) {
  margin-bottom: 18rem;
}

.conteiner-text > :has(h2) h2:not(:first-child) {
  font-size: clamp(1.125rem, 0.9489rem + 0.5634vw, 1.625rem);
  font-weight: 600;
  margin: 40px 0;
}

.conteiner-text > :has(h2) :first-child {
  margin-bottom: 40px;
}

.conteiner-text > :has(p) p {
  font-size: clamp(0.9375rem, 0.8275rem + 0.4521vw, 1.4rem);
  font-weight: 400;
}

.type__frame {
  border: 1px solid rgb(0 0 0 / 0.1);
}

.conteiner-text__account {
  padding: 3vw;
  text-align: left;
}

.conteiner-text__about {
  padding-inline: 6vw;
}

.content__block__contact {
  width: 100%;
  grid-template-columns: 2fr 3fr;
}

.content__block__text {
  padding: 3vw 5vw;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.content__block__text-address-block {
  white-space: pre-line;
  margin-left: 1rem;
}

.content__block__text-contacts {
}

.content__block__text-contacts-title {
  text-transform: uppercase;
  letter-spacing: 0.6px;
  margin-block-end: 6px;
  font-weight: 600;
}

.content__block__contact__map {
  padding-block: 3vw;
}

.panel-auto__background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0/ 0.4);
  backdrop-filter: blur(2px);
}

.panel-auto {
  min-inline-size: 450px;
  max-inline-size: 650px;
  width: 60vw;
  padding: 2vw 4vw;
  background-color: var(--theme-color-light);
  border-radius: 20px;
  position: absolute;
}

.panel-auto-exit {
  padding: 5px;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 1.8vw;
  right: 3vw;
  border: none;
  background: url(/img/cancel-close-cross.svg) center center;
  background-size: cover;
}

.panel-auto-exit:hover {
  transform: scale(1.1);
}

.panel-auto__title {
  font-weight: 500;
  margin-block-end: 40px;
}

.panel-auto__name {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block-end: 30px;
  position: relative;
}

.panel-auto__login {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block-end: 30px;
  position: relative;
}

.panel-auto__login .incorrect-symbol {
  font-size: 20px;
}

.incorrect-symbol {
  color: #cf1b1b;
  position: absolute;
  left: 70px;
  top: 4px;
}

.conteiner-text__account .incorrect-symbol {
  left: 200px;
}

.type__hide {
  display: none;
}

.type__visible {
  display: block;
}

.type__visible__panel-auto {
  display: flex;
}

.panel-auto__field {
  width: 100%;
  height: 3.5em;
  padding-inline: 20px;
  font-size: var(--font-size);
  border-radius: 5px;
  border: 1px solid rgb(0 0 0 / 0.1);
  background-color: rgb(0 0 0 / 0.035);
}

.panel-auto__password {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block-end: 50px;
  position: relative;
}

.panel-auto__btns {
  display: flex;
  justify-content: space-between;
}

.panel-auto__btn {
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1.8px;

  transition: all 0.8s ease 0s;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -ms-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
}

.panel-auto__btn-color {
  background-color: var(--theme-color);
  color: #fff;
}

.panel-auto__btn-light {
  color: var(--theme-color);
  border: 1px solid var(--theme-color);
}

.panel-auto__btn:hover {
  transform: scale(1.06);
}

.panel-auto__btn-color:hover {
  background-color: #13265fd8;
}

.panel-auto__btn-light:hover {
  color: #fff;
  background-color: var(--theme-color);
}

.panel-auto__btn__exit {
  background-color: #971515;
  font-weight: 500;
  border: 5px solid #c11c1c;
  letter-spacing: 4px;
}

.panel-auto__btn__exit:hover {
  background-color: #cd3f3f;
}

.content__register {
  width: 100%;
  display: flex;
  justify-content: center;
}

.conteiner-text__register {
  padding: 5vw;
  min-width: 340px;
  max-width: 730px;
  width: 55vw;
  text-align: left;
  box-shadow: 0 0 18px 0 rgb(0 0 0 / 0.12);
}

.form-reg {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block-end: 30px;
  position: relative;
}

.form-reg .incorrect-symbol {
  left: 185px;
  top: 0;
}

.content__catalog {
  box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.1);
  padding: 60px 40px;
  width: 100%;
  background-color: var(--theme-color-light);
}

.content__catalog-content {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    clamp(285px, calc(25% - 20px), 315px)
  );
  justify-content: center;
  grid-auto-flow: row;
  gap: 2.1em;
}

.content__catalog-content-link {
  height: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 0.6em;
  text-decoration: none;
}

.content__catalog-content__image {
  width: 30%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.content__catalog-content__title {
  font-size: calc(var(--font-size) - 0.1em);
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}

.content__catalog-popular-title {
  padding-block: 90px 20px;
  margin-bottom: 50px;
  font-size: clamp(1.375rem, 1.6283rem + 0.5868vw, 2rem);
  font-weight: 400;
  line-height: 1.1;
}

.content__catalog-popular {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    clamp(220px, calc(25% - 20px), 285px)
  );
  justify-content: center;
  grid-auto-flow: row;
  gap: 2.1em;
}

.content__catalog-popular__card {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.4);
  text-align: center;
  border-radius: 12px;
}

.content__catalog-popular__card:hover {
  transition: scale 0.2s linear;
  scale: 1.05;
}

.content__catalog-popular__card-link {
  height: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.6em;
  text-decoration: none;
}

.content__catalog-popular__card-image {
  width: 188px;
    height: 188px;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: contain;
}

.content__catalog-popular__card-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6em;
}

.content__catalog-popular__card-title {
  font-size: calc(var(--font-size) - 0.1em);
  font-style: normal;
  font-weight: 300;
  line-height: 1.4;
}

.content__catalog-popular__card-provider {
  font-size: var(--font-size);
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.8px;
}

.content__catalog-popular__card-value {
  font-size: calc(var(--font-size) - 0.05em);
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 1.54px;
  text-transform: uppercase;
}
