:root {
  --font-family: ;
  --font-size: clamp(0.675rem, 0.787rem + 0.2817vw, 1.125rem);
  --font-color: ;
  --theme-color: #13265f;
  --theme-color-light: #fff;
  --accent-color: #2548b9;
}

.page {
  background-color: #f8f8f9;
}

.header {
  display: flex;
}

.header__menu-section {
  width: 75px;
  flex-shrink: 0;
  background-color: var(--theme-color);
}

.visible__none {
  display: none;
}

.header__menu-section:hover {
  background-color: var(--accent-color);
  transition: 600ms;
}

.header__menu-section-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.header__menu-section-icon {
  object-fit: cover;
  width: 40px;
  height: 40px;
}

.header__menu-list-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--theme-color-light);
}

.header__menu-section__menu-logo {
  display: flex;
}

.header__menu-list {
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: var(--font-size);
  font-weight: 300;
}

.header__list-item-link {
  text-decoration: none;
}

.header__list-item-link:hover{
  transition: 220ms;
  color: var(--accent-color);
}

.header__user-logo {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__user-link {
  display: block;
  width: clamp(2.8125rem, 3.0172rem + -0.431vw, 2.5rem);
  height: clamp(2.8125rem, 3.0172rem + -0.431vw, 2.5rem);
  padding: 10px;
}

.header__user-image {
  object-fit: cover;
}

.header__logo-link {
  display: block;
  width: clamp(7.25rem, 7.6053rem + 6.5789vw, 12.5rem);
  margin-left: 20px;
}

.header__logo-image {
  object-fit: cover;
}

.preview {
  display: flex;
}

.sidebar-menu {
  position: relative;
  z-index: 1;
}

.sidebar-menu__block-static {
  writing-mode: vertical-lr;
  block-size: 75px;
  padding: 350px 30px;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  gap: 8px;
}

.sidebar-menu:hover .sidebar-menu__block-static {
  transition: 700ms;
  opacity: 0.9;
}

.sidebar-menu__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.sidebar-menu__text-title {
  word-break: break-all;
  text-align: center;
  font-size: calc(var(--font-size) - 0.2em);
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  text-orientation: upright;
  white-space: pre;
  color: #fff;
  cursor: default;
}

.sidebar-menu__text-img {
  width: 13px;
  height: 13px;
  background-position: center;
  background-size: cover;
}

/*-- СКРЫВАЕМЫЙ БЛОК МЕНЮ --*/

.sidebar-menu__block-list {
  width: 410px;
  height: 100%;
  padding: 35px;
  padding-right: 20px;
  position: absolute;
  top: 0;
  left: -410px;
  background-color: var(--theme-color-light);
  transition: left .25s linear;
  display: block;
  z-index: -1;
}

.sidebar-menu:hover .sidebar-menu__block-list {
  left: 75px;
  -webkit-box-shadow: 17px 0 14px -12px rgb(0 0 0 / 0.27);
  -moz-box-shadow: 17px 0 14px -12px rgb(0 0 0 / 0.27);
  box-shadow: 17px 0 14px -12px rgb(0 0 0 / 0.27);
  
}

.sidebar-menu__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 16px;
  font-weight: 300;
}

.sidebar-menu_list-item {
  margin-right: 30px;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
}

.sidebar-menu__content {
  text-decoration: none;
}

.preview-banner-cards {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.banner-view {
  height: 100%;
  min-height: 18em;
  width: 100%;
  padding: 10px 0;
  background-color: var(--theme-color-light);
}

.banner-view-link {
  height: 100%;
  padding: 45px 0;
  display: flex;
  align-items: center;
  text-decoration: none;
  background-position: center right;
  background-size: 90%;
  background-repeat: no-repeat;
}

.banner-view-link__type__byrenie {
  background-image: url(/img/banner2.jpg);
}

.banner-view__list-item {
  margin-left: clamp(0.3125rem, -5.3708rem + 12.2881vw, 9.375rem);
}

.banner-view__list-item-title {
  margin-bottom: 60px;
  max-width: 600px;
  font-size: 38px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.1;
}

.banner-view__list-item-button {
  padding: 15px 53px;
  background-color: #0c1d53;
  border: none;
  color: #fff;
  font-weight: 300;
}

.banner-view__list-item-button:hover {
  cursor: pointer;
  transition: 500ms;
  background-color: var(--accent-color);
}

.preview__list-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-flow: row;
  justify-items: center;
  justify-content: center;
}

.preview__list-item-card {
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 -150px 67px -75px rgb(0 0 0 / 0.8) inset;
  -moz-box-shadow: 0 -150px 67px -75px rgb(0 0 0 / 0.8) inset;
  box-shadow: 0 -150px 67px -75px rgb(0 0 0 / 0.8) inset;
}

.card-type__watersupply {
  background-image: url(/img/водоснабжение.jpg);
}

.card-type__tools {
  background-image: url(/img/tools.jpg);
}

.card-type__ventilation {
  background-image: url(/img/вент.jpg);
}

.card-type__electrical {
  background-image: url(/img/электротовары.jpg);
}

.card-type__chandelier {
  background-image: url(/img/люстра.jpg);
}

.preview__card-link {
  height: 100%;
  display: flex;
  align-items: end;
  padding: 30px 35px;
  text-decoration: none;
}

.preview__card-link:hover {
  background: rgb(0 0 0 / 0.15);
  opacity: 0.8;
  transition: 800ms;
}

.preview__card-title {
  font-size: clamp(0.75rem, 0.566rem + 0.7362vw, 1.125rem);
  word-break: break-all;
  font-style: normal;
  font-weight: 100;
  line-height: 1.4;
  letter-spacing: 1.98px;
  text-transform: uppercase;
  color: #fff;
}

.content__section {
  margin-bottom: 30px;
}

.content {
  display: flex;
}

.content__sidebar {
  writing-mode: vertical-lr;
  block-size: 75px;
  flex-shrink: 0;
  background-color: var(--theme-color-light);
  box-shadow: inset -2px 0 0 0 rgb(0 0 0 / 0.1);
}

.content__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content__about {
  width: 100%;
  display: flex;
  justify-items: center;
  padding: 50px 10px;
  background-color: var(--theme-color-light);
  margin-top: 30px;
}

.content__about-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, calc(25% - 5vw)));
  justify-content: center;
  gap: 3.1em;
  text-align: center;
}

.about__card-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  cursor: default;
}

.about__icon {
  width: 50px;
  height: 50px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}

.about__card-title {
  margin-bottom: 15px;
  font-size: calc(var(--font-size) + 0.05em);
  font-weight: 400;
  line-height: 1.4;
}

.about__card-paragraph {
  font-size: calc(var(--font-size) - 0.05em);
  font-weight: 300;
  line-height: 1.4;
}

.content__offers {
  position: relative;
  padding: 60px 30px;
  background-color: var(--theme-color-light);
}

.offers__title {
  margin-bottom: 50px;
  font-size: clamp(1.875rem, 1.6283rem + 0.9868vw, 2.8125rem);
  font-weight: 300;
  line-height: 1.1;
}

.offers__switches {
  position: absolute;
  top: 50%;
  right: 3vw;
  display: flex;
  gap: 16px;
}

.offers__card-switch {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.offers__card-switch:hover {
  scale: 1.1;
}

.button-type__light {
  background: var(--theme-color-light) url(/img/btn_left.png)  center center;
  background-size: cover;
  box-shadow: 0 8px 17px -7px rgb(0 0 0 / 0.4);
}

.button-type__color {
  background: var(--theme-color) url(/img/btn_right.png) center center;
  background-size: cover;
}

.offers__cards-list {
  width: calc(100% - (1 / 2 * 25%));
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    clamp(200px, calc(25% - 20px), 295px)
  );
  justify-content: center;
  grid-auto-flow: row;
  gap: 1.2em;
}

.offers-card-item {
  padding: 20px;
  box-shadow: 0 14px 15px -3px rgb(0 0 0 / 0.2);
  text-align: center;
}

.offers-card-item:hover {
  scale: 1.1;
}

.offers__card-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
  text-decoration: none;
}

.offers-card-item:hover .offers-card-link {
  scale: 0.9;
}

.offers__card-image {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.offers__card-title {
  font-size: calc(var(--font-size) + 0.1em);
  font-style: normal;
  font-weight: 300;
  line-height: 1.4;
}

.offers__card-provider {
  font-size: var(--font-size);
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.8px;
}

.offers__card-value {
  font-size: calc(var(--font-size) + 0.1em);
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 1.54px;
  text-transform: uppercase;
}

.content__big-cards {
  padding: 30px 15px;
  background-color: var(--theme-color-light);
}

.big-cards__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8vw;
}

.big-cards__list-item {
  width: calc(50% - 12vw);
  min-width: 230px;
}

.big-cards__link {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-decoration: none;
  text-align: center;
}

.big-cards__title {
  font-size: clamp(1.125rem, 1.0114rem + 0.303vw, 1.375rem);
  font-weight: 500;
  letter-spacing: 2px;
}

.big-cards__image {
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.big-cards__link:hover .big-cards__title {
  color: var(--accent-color);
  transition: 600ms;
}

.big-cards__link:hover .big-cards__image {
  scale: 1.025;
  transition: 700ms;
}

.big-cards__description {
  margin-bottom: 25px;
  font-size: clamp(1rem, 0.8864rem + 0.303vw, 1.25rem);
  font-weight: 200;
  line-height: 1.18;
  letter-spacing: 2px;
}

.footer {
  padding: 35px;
  background-color: #373737;
  color: #fff;
  font-size: clamp(0.625rem, 0.4517rem + 0.3527vw, 0.875rem);
  font-weight: 100;
  line-height: 1.4;
  word-spacing: 2px;
}

.footer__content {
  display: flex;
  gap: 4vw;
  justify-content: center;
  align-items: center;
}

.footer__content-link {
  text-decoration: none;
  color: #a7a7a7;
}

.footer__content-link:hover {
  color: #727272;
}

.footer-button-subscribe {
  position: relative;
  left: -1.2em;
  padding: 13px 25px;
  margin-bottom: 18px;
  background-color: #5f5c5c;
  border-radius: 5px;
  color: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.05;
  letter-spacing: -0.675px;
  border: none;
}

.footer-button-subscribe:hover {
  scale: 1.05;
}

.footer__content__list {
  display: flex;
  flex-wrap: wrap;
  gap: 9vw;
  justify-content: start;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__contact-list {
  display: flex;
  flex-direction: column;
}

.footer__contact-link {
  display: block;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;
}

.footer__contact-link[href^='tel:'] {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.12;
  letter-spacing: 1.35px;
}

.footer__contact-list-item.footer__contact-link[href^='mailto:'] {
  margin-bottom: 15px;
}

.footer__contact-link[href^='mailto:'] {
  margin: 17px 0;
}

.contact__block-address {
  margin-top: 4px;
}

.footer__contact-list-item__block-svg {
  display: flex;
  gap: 5px;
}

.contact__link-svg {
  display: block;
  margin-top: 10px;
}

.footer__offer {
  font-size: 12px;
  color: rgb(255 253 253 / 0.65);
}

.footer__title {
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

.footer__only-title {
  gap: 14px;
}
